/* GLOBAL */
body {
	font-family: 'lucida sans unicode',sans-serif;
}
button {
	font-family: inherit;
	font-size: inherit;
	background: white;
	color: black;
	border: solid 1px black;
	cursor: pointer;
}
button:hover {
	background: #ddd;
}
button::-moz-focus-inner {
	border: 0;
}

/* TOP-LEVEL GRID */
#battle-plan {
	height: 98vh;
	display: grid;
	grid-template-rows: 2% 60px 1fr 150px 50px 2%;
	grid-template-columns: 2% 200px 600px 1fr 300px 2%;
	grid-template-areas:
		". . . . . ."
		". snail snail snail snail ."
		". equipment . . stats ."
		". instructions instructions . submit ."
		". presets presets . submit ."
		". . . . . .";
	grid-gap: 20px 0;
}
#snail-buttons {
	grid-area: snail;
}
#equipment {
	grid-area: equipment
}
#instructions {
	grid-area: instructions;
}
#presets {
	grid-area: presets;
}
#stats {
	grid-area: stats;
}
#submit {
	grid-area:submit;
}

/* SNAIL BUTTON GRID */
#snail-buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "dale gail todd doug";
	grid-gap: 0 20px;
	
}
#snail-buttons .dale {
	grid-area: dale;
}
#snail-buttons gail {
	grid-area: gail;
}
#snail-buttons .todd {
	grid-area: todd;
}
#snail-buttons .doug {
	grid-area: doug;
}

/* EQUIPMENT GRID */
#equipment {
	display: grid;
	grid-template-rows: 5% repeat(5, 1fr) 5%;
	grid-template-columns: 30px 1fr 30px;
	grid-template-areas:
		". . ."
		". weapon ."
		". shell ."
		". accessory ."
		". item1 ."
		". item2 ."
		". . .";
	grid-gap: 20px 0;
}
#equipment .weapon {
	grid-area: weapon;
}
#equipment .shell {
	grid-area: shell;
}
#equipment .accessory {
	grid-area: accessory;
}
#equipment .item1 {
	grid-area: item1;
}
#equipment .item2 {
	grid-area: item2;
}

/* PRESETS GRID */
#presets {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "preset1 preset2 preset3 preset4";
	grid-gap: 0 20px;
}
#presets .preset1 {
	grid-area: preset1;
}
#presets .preset2 {
	grid-area: preset2;
}
#presets .preset3 {
	grid-area: preset3;
}
#presets .preset4 {
	grid-area: preset4;
}

/* SNAIL BUTTONS */
#snail-buttons .snail {
	border-radius: 15px;
}

/* EQUIPMENT DROPDOWN BUTTONS */
.equip, .item {
	position: relative;
}
.equip-button {
	height: 50px;
	padding: 10px 10px 10px 30px;
	text-align: left;
}
.equip .equip-button {
	width: 250px;
}
.item .equip-button {
	width: 150px;
}
.equip-button:hover, .equip-button:focus {
	background: #ddd;
}
.equip-button::-moz-focus-inner {
	border: 0;
}
.equip-list {
	display: none;
	position: absolute;
	left: 150px;
	top: 24px;
	z-index: 999;
	width: 200px;
	margin: 0;
	padding: 8px;
	background: white;
	color: black;
	border: 1px solid black;
	list-style: none;
}
.equip-list li {
	padding: 15px;
	border-bottom: solid 1px #ccc;
}
.equip-list li:hover {
	background: #ddd;
}
.equip-list li:last-child {
	border: none;
}

/* PRESET BUTTONS */
#presets .preset {
	border-radius: 10px;
}