/* GLOBAL */

#home .lockimg {
	position: relative;
	top: 0.1em;
	margin-left: 0.25em;
	height: 1em;
}

/* TOP-LEVEL GRID */

#home {
	height: 100vh;
	display: grid;
	grid-template-rows: 2% 4% 1fr;
	grid-template-columns: 2% 18% 1fr 2%;
	grid-template-areas:
		". . . ."
		". header header ."
		". mainmenu . .";
	background-image: url("/assets/home.svg");
	background-size: 100% 100%;
}

#home header {
	grid-area: header;
}

#home .mainmenu {
	grid-area: mainmenu;
}


/* HEADER */

#home header span {
	float: right;
	margin-left: 1em;
}

#home .header-createaccount:hover,
#home .header-login:hover {
	text-decoration: underline;
	cursor: pointer;
}


/* MAIN MENU */

#home .mainmenu-button {
	display: block;
	margin-top: 2em;
	width: 70%;
	padding: 1em;
	vertical-align: middle;
	border-radius: 0.5em;
}

#home .mainmenu-play {
	width: 100%;
	height: 3.5em;
	font-size: 1.8em;
	padding: 0.5em;
}


/* MODALS */

#home .modals-play {
	display:flex;
	flex-flow: row nowrap;
	width: 44vw;
	height: 40vh;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	border: 1px solid black;
	border-radius: 1em;
	padding: 0;
}

#home .modals-play::before,
#home .modals-play::after {
	content: "";
}

#home .modals-play button {
	width: 40%;
	height: 70%;
	font-size: 1.8em;
	border-radius: 0.3em;
}

#home .modals-play-subtext {
	margin-top: 0.3em;
	font-size: 0.6em;
}
