/* GLOBAL */

#home .lockimg {
	position: relative;
	top: 0.1em;
	margin-left: 0.25em;
	height: 1em;
}

/* TOP-LEVEL GRID */

#home {
	height: 100vh;
	display: grid;
	grid-template-rows: 2% 4% 1fr;
	grid-template-columns: 2% 18% 1fr 2%;
	grid-template-areas:
		". . . ."
		". header header ."
		". mainmenu . .";
	background-image: url("/assets/home.svg");
	background-size: 100% 100%;
}

#home header {
	grid-area: header;
}

#home .mainmenu {
	grid-area: mainmenu;
}


/* HEADER */

#home header span {
	float: right;
	margin-left: 1em;
	font-size: 1.3em;
	color: white;
}

#home .header-createaccount:hover,
#home .header-login:hover {
	text-decoration: underline;
	cursor: pointer;
}


/* MAIN MENU */

#home button {
	display: block;
	width: 80%;
	height: 2.5em;
	border: none;
	background: none;
	background-image: url("/assets/button.svg");
	background-size: 100% 100%;
	font-family: "Rubik";
	font-size: 1.5em;
	font-weight: 700;
	color: white;
	vertical-align: middle;
}

#home .mainmenu-button {
	margin-top: 2em;
}

#home .mainmenu-play {
	width: 100%;
	height: 2em;
	font-size: 3.5em;
}

#home button:not(.disabled-button):hover {
	background-image: url("/assets/button_hover.svg");
}

#home button.disabled-button {
	background-image: url("/assets/button_disabled.svg");
	color:#ddd;
}


/* MODALS */

#home .modals-play {
	display:flex;
	flex-flow: row nowrap;
	width: 44vw;
	height: 40vh;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	font-size: 1.2em;
}

#home .modals-play::before,
#home .modals-play::after {
	content: "";
}

#home .modals-play button {
	width: 40%;
	height: 70%;
	background-image: url("/assets/tallbutton.svg");
}

#home .modals-play button:not(.disabled-button):hover {
	background-image: url("/assets/tallbutton_hover.svg");
}

#home .modals-play .disabled-button {
	background-image: url("/assets/tallbutton_disabled.svg");
}

#home .modals-play-subtext {
	margin-top: 0.3em;
	font-size: 0.6em;
}

#home .modals-play-closeicon {
	top: 0.4em;
	right: 0.6em;
}

#home .modals-matching-cancel {
	margin-top: 1em;
	padding: 0.5em 1em;
}
