/* GLOBAL */

#battleplan .addicon,
#battleplan .removeicon {
	vertical-align: middle;
	margin-left: 1em;
	cursor: pointer;
	font-size: 1.5em;
}

#battleplan select {
	border: 1px solid black;
	background-color: white;
}


/* TOP-LEVEL GRID */

#battleplan {
	height: 98vh;
	display: grid;
	grid-template-rows: 2% 8% 1fr 10% 20% 7% 2%;
	grid-template-columns: 2% 2em 60% 1fr 20% 2em 2%;
	grid-template-areas:
		". . . . . . ."
		". snail snail snail snail snail ."
		". . equip . info . ."
		". . instructionbox . info . ."
		". . instructionbox . submit . ."
		". . presets . submit . ."
		". . presets . . . .";
	grid-gap: 1em 0;
}

#battleplan .snails {
	grid-area: snail;
}

#battleplan .equip {
	grid-area: equip
}

#battleplan .instructionbox {
	grid-area: instructionbox;
}

#battleplan .presets {
	grid-area: presets;
}

#battleplan .info {
	grid-area: info;
}

#battleplan .submit {
	grid-area:submit;
}


/* SNAIL BUTTON GRID */

#battleplan .snails {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "dale gail todd doug";
	grid-gap: 0 1em;
	
}

#battleplan .snails-dale {
	grid-area: dale;
}

#battleplan .snails-gail {
	grid-area: gail;
}

#battleplan .snails-todd {
	grid-area: todd;
}

#battleplan .snails-doug {
	grid-area: doug;
}


/* EQUIPMENT GRID */

#battleplan .equip {
	display: grid;
	grid-template-rows: 2% repeat(5, 1fr) 2%;
	grid-template-columns: 30% 1fr;
	grid-template-areas:
		". ."
		"weapon ."
		"shell ."
		"accessory ."
		"item1 item1"
		"item2 item2"
		". .";
	grid-gap: 0.8em 0;
}

#battleplan .equip-weapon {
	grid-area: weapon;
	align-self: center;
}

#battleplan .equip-shell {
	grid-area: shell;
	align-self: center;
}

#battleplan .equip-accessory {
	grid-area: accessory;
	align-self: center;
}

#battleplan .equip-item1 {
	grid-area: item1;
	align-self: center;
}

#battleplan .equip-item2 {
	grid-area: item2;
	align-self: center;
}


/* PRESETS GRID */

#battleplan .presets {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "preset1 preset2 preset3 preset4";
	grid-gap: 0 1em;
	position: relative;
}

#battleplan .preset1 {
	grid-area: preset1;
}

#battleplan .preset2 {
	grid-area: preset2;
}

#battleplan .preset3 {
	grid-area: preset3;
}

#battleplan .preset4 {
	grid-area: preset4;
}

/* INFO GRID */

#battleplan .info {
	display: grid;
	grid-template-rows: 10% 25% 10% 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		". ."
		"timer timer"
		". ."
		"playerstats enemystats";
}

#battleplan .info-timer {
	grid-area: timer;
}

#battleplan .info-playerstats {
	grid-area: playerstats;
}

#battleplan .info-enemystats {
	grid-area: enemystats;
}


/* SNAIL BUTTONS */

#battleplan .snails button {
	border-radius: 15px;
}

#battleplan .snails .selected-snail {
	background: #aaa;
}


/* ALL DROPDOWN BUTTONS */

#battleplan .menubutton {
	position: relative;
}

#battleplan .menubutton-button {
	height: 3.5em;
	padding-left: 2em;
	text-align: left;
}

#battleplan .menubutton-button:hover,
#battleplan .menubutton-button:focus {
	background: #ddd;
}

#battleplan .menubutton-button::-moz-focus-inner {
	border: 0;
}

#battleplan .menubutton-list {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 60%;
	z-index: 999;
	margin: 0;
	padding: 0.5em;
	background: white;
	color: black;
	border: 1px solid black;
	list-style: none;
}

#battleplan .menubutton-list li {
	padding: 0.9em;
	border-bottom: solid 1px #ccc;
}

#battleplan .menubutton-list li:hover {
	background: #ddd;
}

#battleplan .menubutton-list li:last-child {
	border: none;
}


/* EQUIPMENT DROPDOWN BUTTONS */

#battleplan .equip>.menubutton .menubutton-button,
#battleplan .equip>.menubutton .menubutton-list {
	width: 18em;
}

#battleplan .equip>.menubutton .menubutton-button,
#battleplan .equip>.menubutton .menubutton-list li {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#battleplan .equip>.menubutton .equip-stats {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	font-size: 0.8em;
	text-align: right;
}

#battleplan .equip>.menubutton .menubutton-button .equip-stats {
	margin-right: 1em;
}

/* ITEM DROPDOWN BUTTONS */

#battleplan .itembutton {
	min-width: 45em;
}

#battleplan .itembutton .menubutton-button {
	width: 12em;
}

#battleplan .itembutton .menubutton-list {
	top: 0.5em;
	width: 10em;
}

#battleplan .itembutton-condition-addtext,
#battleplan .itembutton-condition-usetext {
	margin-left: 0.5em;
	margin-right: 0.25em;
}

#battleplan .itembutton-condition-addtext {
	cursor: pointer;
}

#battleplan .itembutton-condition select {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#battleplan .itembutton-condition-hascondition-threshold {
	width: 2em;
	margin-left: 0.25em;
}


/* INSTRUCTION BOX */

#battleplan .instructionbox {
	padding-left: 2em;
	border: 1px solid black;
	border-radius: 0.5em;
}

#battleplan .instructionbox.collapsing,
#battleplan .instructionbox.collapsed,
#battleplan .instructionbox.expanding {
	overflow: hidden;
}

#battleplan .instructionbox.expanded {
	overflow: auto;
}

#battleplan .instructionbox.collapsed:hover {
	cursor: pointer;
}

#battleplan .instructionbox-header {
	margin: 0.5em 0 0.5em 0;
}

#battleplan .instructionbox-header-collapseicon:hover {
	cursor: pointer;
}

#battleplan .instructionbox-header-expandicon,
#battleplan .instructionbox-header-collapseicon {
	float: right;
	padding-right: 1em;
}

#battleplan .instructionbox.collapsed {
	width: 10em;
	height: 2.2em;
}

#battleplan .instructionbox.expanding {
	animation-name: expand-instructionbox;
	animation-duration: 0.2s;
}

#battleplan .instructionbox.expanded {
	width: calc(100% - 2em);
	height: 100%;
}

#battleplan .instructionbox.collapsing {
	animation-name: expand-instructionbox;
	animation-duration: 0.2s;
	animation-direction: reverse;
}

@keyframes expand-instructionbox {
	from {
		width: 10em;
		height: 2.2em;
	}
	
	to {
		width: calc(100% - 2.5em);
		height: 100%;
	}
}

#battleplan .instructionbox-instructions {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#battleplan .instructionbox-addbox {
	margin: 0.1em 0.5em 0.1em 0;
	border: 1px solid black;
	border-radius: 0.5em;
}

#battleplan .instructionbox-addbox-text {
	margin-left: 0.5em;
	vertical-align: middle;
	cursor: pointer;
}

#battleplan .instructionbox-defaultattack {
	margin-left: 3.1em;
	color: gray;
}


/* INSTRUCTIONS */

#battleplan .instructionbox-instructions .instruction {
	margin: 0.1em 0.5em 0.1em 0;
	border: 1px solid black;
	border-radius: 0.5em;
	list-style-type: none;
}

#battleplan .instructionbox-instructions .instruction-type,
#battleplan .instructionbox-instructions .instruction-item,
#battleplan .instructionbox-instructions .instruction-waitcondition {
	margin: 0.5em 0 0.5em 0.5em;
	vertical-align: middle;
}

#battleplan .instructionbox-instructions .instruction-waitcondition-ap {
	width: 2em;
	text-align: center;
}


/* PRESET BUTTONS */

#battleplan .presetbutton {
	width: 100%;
	height: 100%;
}

#battleplan .presetbutton-button {
	width: 100%;
	height: 60%;
	border-radius: 0.5em;
}

#battleplan .presetbutton-options {
	display: none;
	padding-top: 0.2em;
	text-align: right;
}

#battleplan .presetbutton:hover .presetbutton-options {
	display: block;
}

#battleplan .presetbutton-options-set,
#battleplan .presetbutton-options-clear {
	margin-right: 0.7em;
	cursor: pointer;
}

#battleplan .presetbutton-options-set:hover,
#battleplan .presetbutton-options-clear:hover {
	text-decoration: underline;
}

#battleplan .presetname {
	position: absolute;
	bottom: 5em;
	z-index: 1;
	padding: 0.5em;
	background-color: white;
	border: 1px solid black;
	border-radius: 0.5em;
}

#battleplan .preset1 .presetname {
	left: 1em;
}

#battleplan .preset2 .presetname {
	left: calc(25% + 1.5em);
}

#battleplan .preset3 .presetname {
	left: calc(50% + 1.5em);
}

#battleplan .preset4 .presetname {
	left: calc(75% + 1.5em);
}

#battleplan .presetname-label,
#battleplan .presetname-text {
	display: block;
}

#battleplan .presetname-text {
	margin: 0.5em 0 0.5em 0;
}

#battleplan .presetname-buttons {
	text-align: right;
}

/* TIMER */

#battleplan .info-timer-blocks {
	display: flex;
	justify-content: space-between;
}

#battleplan .info-timer-blocks-block {
	display: inline-block;
	width: 4em;
	height: 4em;
	background-color: #aaa;
}

#battleplan .info-timer-remaining {
	padding-top: 1em;
}


/* PLAYER STATS */

#battleplan .info-playerstats {
	height: 10em;
	justify-self: left;
}

#battleplan .info-enemystats {
	height: 10em;
	justify-self: right;
}

#battleplan .info-playerstats-name,
#battleplan .info-enemystats-name {
	text-align: center;
}

#battleplan .numeric-stat {
	padding-left: 2em;
	text-align: right;
}

#battleplan .info-playerstats .stat-increased {
	animation-name: flash-green;
	animation-duration: 1.5s;
}

#battleplan .info-playerstats .stat-decreased {
	animation-name: flash-red;
	animation-duration: 1.5s;
}

@keyframes flash-green {
	from { color: green; }
	33% { color: green; }
	to { color: black; }
}

@keyframes flash-red {
	from { color: red; }
	33% { color: red; }
	to { color: black; }
}


/* SUBMIT BUTTON */
#battleplan .submit {
	margin: 0 2em 2em 2em;
}
