body {
	margin: 0;
	font-family: "DejaVu Sans", sans-serif;
	font-size: 2vh;
}

input, select {
	font-family: inherit;
	font-size: inherit;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	border: 0;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 2em 4em;
	background-color: #deaf42;
	border: 4px solid black;
	border-radius: 1em;
}

.modal-text {
	font-size: 2em;
}

.modal-subtext {
	margin-top: 1em;
	font-size: 1.2em;
}

.modal-button {
	display: block;
	margin: auto;
	margin-top: 2em;
	padding: 1em 2em;
	border-radius: 0.3em;
	font-size: 1.2em;
}

.modal-closeicon {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	font-size: 1.5em;
	cursor: pointer;
}

.modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: rgba(0,0,0,0.7);
}

.hidden {
	display: none !important;
}
