body {
	font-family: 'lucida sans unicode', sans-serif;
	font-size: 1.8vh;
}

button {
	font-family: inherit;
	font-size: inherit;
	background: white;
	color: black;
	border: solid 1px black;
	cursor: pointer;
}

button:hover {
	background: #ddd;
}

button::-moz-focus-inner {
	border: 0;
}

#components {
	display: none;
}
