/* TOP-LEVEL GRID */

#battleplan {
	height: 98vh;
	display: grid;
	grid-template-rows: 2% 8% 1fr 25% 7% 2%;
	grid-template-columns: 2% 2em 60% 1fr 20% 2em 2%;
	grid-template-areas:
		". . . . . . ."
		". snail snail snail snail snail ."
		". . equip . stats . ."
		". . instructions . submit . ."
		". . presets . submit . ."
		". . . . . . .";
	grid-gap: 1em 0;
}

#battleplan .snails {
	grid-area: snail;
}

#battleplan .equip {
	grid-area: equip
}

#battleplan .instructions {
	grid-area: instructions;
}

#battleplan .presets {
	grid-area: presets;
}

#battleplan .stats {
	grid-area: stats;
}

#battleplan .submit {
	grid-area:submit;
}


/* SNAIL BUTTON GRID */

#battleplan .snails {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "dale gail todd doug";
	grid-gap: 0 1em;
	
}

#battleplan .snails-button.dale {
	grid-area: dale;
}

#battleplan .snails-button.gail {
	grid-area: gail;
}

#battleplan .snails-button.todd {
	grid-area: todd;
}

#battleplan .snails-button.doug {
	grid-area: doug;
}


/* EQUIPMENT GRID */

#battleplan .equip {
	display: grid;
	grid-template-rows: 2% repeat(5, 1fr) 2%;
	grid-template-columns: 30% 1fr;
	grid-template-areas:
		". ."
		"weapon ."
		"shell ."
		"accessory ."
		"item1 item1"
		"item2 item2"
		". .";
	grid-gap: 1em 0;
}

#battleplan .equip-weapon {
	grid-area: weapon;
	align-self: center;
}

#battleplan .equip-shell {
	grid-area: shell;
	align-self: center;
}

#battleplan .equip-accessory {
	grid-area: accessory;
	align-self: center;
}

#battleplan .equip-item1 {
	grid-area: item1;
	align-self: center;
}

#battleplan .equip-item2 {
	grid-area: item2;
	align-self: center;
}


/* PRESETS GRID */

#battleplan .presets {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas: "preset1 preset2 preset3 preset4";
	grid-gap: 0 1em;
}

#battleplan .preset-button.preset1 {
	grid-area: preset1;
}

#battleplan .preset-button.preset2 {
	grid-area: preset2;
}

#battleplan .preset-button.preset3 {
	grid-area: preset3;
}

#battleplan .preset-button.preset4 {
	grid-area: preset4;
}


/* SNAIL BUTTONS */

#battleplan .snails-button {
	border-radius: 15px;
}


/* ALL DROPDOWN BUTTONS */

#battleplan .menubutton {
	position: relative;
}

#battleplan .menubutton-button {
	padding: 1em 1em 1em 2em;
	text-align: left;
}

#battleplan .menubutton-button:hover,
#battleplan .menubutton-button:focus {
	background: #ddd;
}

#battleplan .menubutton-button::-moz-focus-inner {
	border: 0;
}

#battleplan .menubutton-list {
	display: none;
	position: absolute;
	top: 1.5em;
	left: 60%;
	z-index: 999;
	width: 12em;
	margin: 0;
	padding: 0.5em;
	background: white;
	color: black;
	border: 1px solid black;
	list-style: none;
}

#battleplan .menubutton-list li {
	padding: 0.9em;
	border-bottom: solid 1px #ccc;
}

#battleplan .menubutton-list li:hover {
	background: #ddd;
}

#battleplan .menubutton-list li:last-child {
	border: none;
}


/* EQUIPMENT DROPDOWN BUTTONS */

#battleplan .equip .menubutton-button {
	width: 100%;
	max-width: 18em;
	min-width: 12em;
}


/* ITEM DROPDOWN BUTTONS */

#battleplan .itembutton {
	min-width: 45em;
}

#battleplan .itembutton .menubutton-button {
	width: 12em;
}

#battleplan .itembutton .menubutton-list {
	top: 0.5em;
}

#battleplan .itembutton-condition-addicon,
#battleplan .itembutton-condition-removeicon {
	vertical-align: middle;
	margin-left: 1em;
	cursor: pointer;
	width: 1.2em;
	height: 1.2em;
}

#battleplan .itembutton-condition-addtext,
#battleplan .itembutton-condition-usetext {
	margin-left: 0.5em;
	margin-right: 0.25em;
}

#battleplan .itembutton-condition-addtext {
	cursor: pointer;
}

#battleplan .itembutton-condition select {
	margin-left: 0.25em;
	margin-right: 0.25em;
}

#battleplan .itembutton-condition-hascondition-threshold {
	width: 2em;
	margin-left: 0.25em;
}


/* INSTRUCTIONS */

#battleplan .instructionbox {
	padding: 0.5em 0.5em 0.5em 2em;
	border: 1px solid black;
	border-radius: 0.5em;
}

#battleplan .instructionbox.collapsed:hover {
	cursor: pointer;
}

#battleplan .instructionbox-collapseicon:hover {
	cursor: pointer;
}

#battleplan .instructionbox-expandicon,
#battleplan .instructionbox-collapseicon {
	vertical-align: middle;
	float: right;
	padding-right: 1em;
	width: 1em;
	height: 1em;
}

#battleplan .instructionbox.collapsed {
	width: 9.5em;
}

#battleplan .instructionbox.expanding {
	animation-name: expand-instructionbox;
	animation-duration: 0.2s;
}

#battleplan .instructionbox.expanded {
	width: calc(100% - 2.5em);
	height: 90%;
}

#battleplan .instructionbox.collapsing {
	animation-name: expand-instructionbox;
	animation-duration: 0.2s;
	animation-direction: reverse;
}

@keyframes expand-instructionbox {
	from {
		width: 9.5em;
	}
	
	to {
		width: calc(100% - 2.5em);
		height: 90%;
	}
}


/* PRESET BUTTONS */

#battleplan .presets-button {
	border-radius: 0.7em;
}


/* SUBMIT BUTTON */
#battleplan .submit {
	margin: 2em;
}
