#battlecanvas {
	width: 100%;
	height: 100%;
}

#battle .hud {
	z-index: 1;
}

#battle .waitmessage {
	border: none;
}

#battle .hud-player,
#battle .hud-enemy {
	position: absolute;
	padding: 1em;
	min-width: 7em;
	border: 1px solid black;
	border-radius: 1em;
}

#battle .hud-player {
	top: 2em;
	right: 2em;
}

#battle .hud-enemy {
	top: 2em;
	left: 2em;
}

#battle .sidebar {
	width: 15vw;
	display: flex;
	flex-direction: column;
}

#battle .sidebar-name,
#battle .sidebar-equipment,
#battle .sidebar-stats,
#battle .sidebar-hpap {
	margin-top: 1em;
}

#battle .sidebar-name {
	text-align: center;
	font-size: 2em;
}

#battle .sidebar td {
	font-size: 1.2em;
}

#battle .sidebar-hpap {
	margin-bottom: 1em;
	font-size: 1.2em;
}
